{# массив магазинов доступных для текущего менеджера #}
{% set  storeIds = []%}
{% for store in app.user.stores %}
    {% set storeIds = storeIds|merge([store.id]) %}
{% endfor %}

<style>
    .hidden_field {
        display: none;
    }
</style>
{# если магазин не доступен для менеджера то скрываем его #}
<div class="form_row">
    {{ form_label(stores) }}
    {% if storeIds|length %}
        <div class="field_content">
            <ul class="collection">
                {% for store in stores %}
                    <li>
                        {% if store.vars.value in storeIds %}
                            {% set  attr = (app.session.get('store_id') == store.vars.value ? ({'attr': {'checked': 'checked'}}) : {})%}
                            {{ form_widget(store, attr) }} {{ form_label(store) }}
                        {% else %}
                            {{ form_widget(store,{'attr' : {'class':'hidden_field'} }) }}
                        {% endif %}
                    </li>
                {% endfor%}
            </ul>
        </div>
    {% endif %}
</div>