{% extends_admingenerated "NitraStoreBundle:StoreList:row.html.twig" %}

{% block list_td_column_phone %}
    <ul>
        {% for phones in Store.phone %}
            <li>
                {{ phones|raw }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block list_td_column_email %}
    <ul>
        {% for emails in  Store.email  %}
            <li>
                {{ emails }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}